#dashboard{
    .icon-area{
        display: flex;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .data-div{
        display: flex;
        align-items: center;
        gap: .5rem !important;
    }

    .data-title{
        font-size: var(--font-sm) !important;
    }

    .data-value{
        font-weight: 600 !important;
    }

    .data-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem !important;
        border-radius: .25rem;
    }

}
